@font-face {
    font-family: 'Avenir-Heavy';
    src: url(template_fonts/Avenir-Heavy.ttf);
}

@font-face {
    font-family: 'Avenir-Heavy';
    src: url(template_fonts/Avenir-Black.ttf);
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url(template_fonts/Avenir-Medium.ttf);
}

@font-face {
    font-family: 'Avenir-Black';
    src: url(template_fonts/Avenir-Black.ttf);
}

@font-face {
    font-family: 'SF-Pro-Display-Medium';
    src: url(template_fonts/SF-Pro-Display-Medium.otf);
}

@font-face {
    font-family: 'SF-Pro-Text-Bold';
    src: url(template_fonts/SF-Pro-Text-Bold.otf);
}

@font-face {
    font-family: 'SF-Pro-Text-Medium';
    src: url(template_fonts/SF-Pro-Text-Medium.otf);
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url(template_fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(template_fonts/Poppins-SemiBold.ttf);
}

html,
body {
    background: #F5F4FF;
    overflow-x: hidden;
    padding: 0px !important;
    height: 100%;
}

.nav-list-ul span {
    font-family: 'Avenir-Heavy';
}

html.html-active {
    overflow: hidden;
}

.w-auto {
    width: auto !important;
}


/* for height media query */

@media (max-width: 1600px) {
    html,
    body {
        /* height: auto; */
        height: 100%;
    }
    .wd-ar-main,
    .dash-body-ar {
        /* height: auto !important; */
    }
    .sidebar-ar {
        max-height: 1000px;
        overflow-y: auto;
    }
}

@media (max-width: 1366px) {
    html,
    body {
        height: auto;
    }
    .wd-ar-main,
    .dash-body-ar {
        height: auto !important;
    }
    .sidebar-ar {
        max-height: 1000px;
        overflow-y: auto;
    }
}

@media (max-width: 991px) {
    .scrollbar .card {
        margin: 20px 0 20px 0!important;
    }
    .wd-dr-dashboart-inner .card {
        margin-right: 0!important;
    }
}

 /* promotion.html */
 .data_feather_copy {
     transform: rotatey(180deg);
     cursor: pointer;
 }

 .promotion_text-cololr {
     color: #535bfe;
 }

 .promotion_bg-cololr {
     background-color: #535bfe;
     color: #fff;
 }

 .promotion_b-redi {
     border-radius: 0px 0px 15px 15px !important;
 }

 .p-contec-footer {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     border-radius: 15px;
 }

 .margin-bottom-56 {
     margin-bottom: 56px;
 }

.sin-log-bg {
    background: url(../images/back-img.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wraper-part {
    position: relative;
    height: 100%;
}

button:focus {
    outline: none;
}

.wd-ar-main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    overflow-y: hidden;
}

.icon-svg:after {
    content: '';
    position: absolute;
    background: #ccc;
    width: 1px;
    height: 40px;
    top: 8px;
    left: 42px;
}

.icon-svg svg {
    width: 22px;
    height: 22px;
}

.sidebar-ar {
    position: fixed;
    width: 100%;
    background: #535bfe;
    height: 100%;
    max-width: 100%;
}

.wd-sl-headerall {
    width: 260px;
    max-width: 100%;
    padding: 30px 20px;
}

.logo-img-ar {
    text-align: center;
}

.logo-img-ar img {
    width: 55%;
}

.logo-img-ar h3 {
    color: #fff;
    margin: 6px 0px;
    font-size: 22px;
}

.nav-list-ar .nav-list-ul {
    margin: 0;
    padding: 20px 0 5px;
}

.nav-list-ar .nav-list-ul li {
    list-style: none;
    padding: 14px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.nav-list-ar .nav-list-ul li a svg {
    position: relative;
    margin-right: 12px;
    width: 30px;
}

.nav-list-ul .active {
    background: #0000003b;
}

.nav-list-ar .nav-list-ul li:hover span,
.nav-list-ar .nav-list-ul li.active span {
    color: #535bfe;
}

.nav-list-ar .nav-list-ul li:hover,
.nav-list-ar .nav-list-ul li.active {
    background: #fff;
}

.nav-list-ar .nav-list-ul li:hover svg,
.nav-list-ar .nav-list-ul li.active svg {
    fill: #535bfe;
}

.nav-list-ar .nav-list-ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    line-height: normal;
    text-decoration: none;
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav-list-ar .nav-list-ul h6 {
    font-weight: 600;
    font-size: 13px;
    color: #FFFFFF;
}

.nav-list-ar .nav-list-ul li a span {
    line-height: normal;
    font-family: 'Avenir-Medium';
}

.dash-body-ar {
    position: relative;
    z-index: 1;
    background: #f9f9f9;
    height: auto;
    margin-left: 260px;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* overflow-y: hidden; */
}

.wrp-ar-nav-body {
    padding: 10px 15px 40px 15px;
}

.top-nav-ar {
    padding: 20px 10px;
    display: flex;
    width: 100%;
    margin: 10px 0px;
    align-items: center;
}

.nav-ar-inncol {
    text-align: left;
}

.nav-ar-inncol h3 {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.25px;
    margin: 0;
}

.nav-sub p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #F3A533;
}

.nav-sub p a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.inncol-ar-list {
    text-align: right;
}

.inncol-ar-list ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.inncol-ar-list ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 16px;
}

.inncol-ar-list ul .li-sin {
    display: flex;
    align-items: center;
}

.inncol-ar-list ul li .svg-sin {
    color: #fff;
    font-size: 14px;
    margin-left: 8px;
}

.search-container input {
    padding: 10px 12px 10px 35px;
    border-radius: 50px;
    border: none;
    position: relative;
}

.inncol-ar-list .search-container .search-btn svg {
    width: 20px;
    height: 20px;
}

.search-form {
    position: relative;
}

.search-form .search-btn {
    position: absolute;
    top: 10px;
    left: 5px;
    border: none;
    background: none;
    color: #969696;
    font-size: 20px;
}

.dashbord-ar-wrp-body {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.body-right-ar-bar {
    padding: 20px;
    background: #fff;
    border-radius: 18px;
}

.dashbord-planer-ar-main {
    background: linear-gradient(90deg, #BC5090 0%, #EB5F5E 100%);
    border-radius: 30px 30px 0px 0px;
    padding: 20px 10px;
}

.active-btn:after {
    content: '';
    background: #fff;
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -23px;
    left: 0;
}

.dashbord-planer-ar-body {
    background: #fff;
    padding: 15px;
    border-radius: 0px 0px 30px 30px;
}

.small-screen-ar-head {
    display: none;
}

.small-screen-ar-searchbar {
    display: none;
}

.lefticon-hide {
    display: none;
}

.content .scrollbar {
    height: 754px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0 0 30px 0;
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.content {
    height: 100%;
    padding: 0 0 0 24px;
    position: relative;
}

.content h2 {
    font-size: 24px;
    color: #000;
    font-family: 'Avenir-Black';
}

.profile-bg-wrap .main-profile .main-containt .top-mary {
    display: none;
}

#nav-msg {
    display: none;
}

.wd-dr-chart {
    display: block;
}

.wd-dr-send-blog ul {
    padding: 0;
    margin: 0;
}

.wd-dr-send-blog ul li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
}

#testinomial {
    padding: 30px 0;
    position: relative;
}

.owl-theme .owl-nav.disabled,
.owl-theme .owl-nav {
    display: flex!important;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    cursor: pointer !important;
}

.owl-theme button.owl-prev {
    position: relative;
    left: -2%;
}

.owl-theme button.owl-next {
    position: relative;
    right: -1%;
}

.scrollbar .card {
    border-radius: 15px;
    margin: 28px 10px 0 0;
}

.scrollbar .card-body {
    padding: 15px;
}

.wd-dr-lor {
    font-size: 14px;
    color: #313131;
    font-weight: 500;
    margin: 8px 0;
}

.scrollbar .btn-dark {
    padding: 4px 14px;
    border-radius: 7px;
    font-size: 16px;
}

.scrollbar .card img {
    border-radius: 8px 8px 0 0;
    height: 224px;
    object-fit: contain;
}

#testinomial .card {
    border-radius: 10px;
    width: 15rem;
}

.wd-dr-menu-item p {
    font-size: 16px;
    font-family: 'Avenir-Heavy';
    margin: 0;
}

.owl-next span {
    font-size: 30px;
}

.owl-prev span {
    font-size: 30px;
}

#testinomial .card img {
    border-radius: 8px 8px 0 0;
    height: 150px;
}

#testinomial .card .card-title {
    font-size: 16px;
    font-family: 'Avenir-Heavy';
    margin: 0 0 5px 0;
    color: #333333;
}

#testinomial .card .card-text {
    font-size: 14px;
    color: #313131;
    font-family: 'Avenir-Medium';
}

.wd-dr-right-toogle {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #f5f4ff80; */
    transition: 1s all ease-in-out;
    transform: translate(-100%);
    z-index: 1111;
    bottom: 0;
}

.wd-dr-sec-das {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0 0 0;
}

.wd-dr-sec-das h3 {
    color: #fff;
    font-family: 'Avenir-Heavy';
}

.wd-dr-sec-das p {
    color: #fff;
    font-family: 'Avenir-Medium';
}

.wd-dr-sec-das h3 {
    font-size: 24px;
}

.wd-dr-sec-das p {
    font-size: 10px;
}

.wd-dr-sec-das img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.search-form input {
    border-radius: 15px;
    background-color: #e5e5e5;
    border: none;
    padding: 10px 0;
    width: 100%;
    height: auto;
    font-size: 18px;
    padding-left: 10px;
    font-family: 'Avenir-Medium';
}

.search-form input::placeholder {
    color: #aaaaaa;
}

.search-form input:focus {
    outline: none;
}

.search-form .input-group-text {
    border-radius: 15px 0 0 15px;
    background: #cacaca;
}

.owl-first-blog .owl-nav {
    position: absolute;
    display: flex!important;
    justify-content: space-between;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.owl-first button.owl-prev {
    position: relative;
    left: -3%;
}

.owl-first button.owl-next {
    position: relative;
    right: -2%;
}

.owl-first-blog button.owl-prev {
    position: relative;
    left: -3%;
}

.owl-first-blog button.owl-next {
    position: relative;
    right: -3%;
}

.owl-first .owl-nav.disabled,
.owl-first .owl-nav {
    display: flex!important;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.search-form .input-group-text svg {
    fill: #535bfe;
    stroke: #535bfe;
    width: 20px;
    height: 20px;
}

.inncol-ar-list ul li svg {
    width: 25px;
    height: 25px;
    fill: #555555;
    stroke: #555555
}

.inncol-ar-list ul li svg path {
    width: 25px;
    height: 25px;
    fill: #555555;
    stroke: #555555;
}

.wd-svg-position {
    position: relative;
}

.badge-circle {
    position: absolute;
    top: -7px;
    right: -6px;
    width: 18px;
    border-radius: 50%;
    color: #fff;
    background: #535bfe;
    font-weight: 600;
    font-size: 12px;
    line-height: normal;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    height: 18px;
    padding: 2px;
}

.dropbtn {
    border: none;
    cursor: pointer;
    background: none;
    color: #555555;
    font-family: 'Avenir-Heavy';
}

.dropbtn:focus {
    outline: none;
}

.user-profile-img {
    width: 46px;
    height: 46px;
    margin: 0 10px 0 0;
    border-radius: 50%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.wd-dr-dashboart-inner .card {
    border-radius: 15px;
    margin-right: 14px;
}

.wd-dr-dashboart-inner .card-title {
    font-size: 24px;
    color: #333333;
    font-weight: 800;
    font-family: 'Avenir-Black';
}

.wd-dr-dashboart-inner .card-text {
    font-size: 18px;
    color: #333333;
    font-weight: 500;
    font-family: 'Avenir-Medium';
}

.wd-dr-dashboart-inner .card-text:hover {
    text-decoration: none;
}

.wd-dr-now .input-group-text {
    border-radius: 5px;
    background-color: rgba(49, 49, 49, 0.30196078431372547);
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top-right-radius: 5px!important;
    border-bottom-right-radius: 0!important;
}

.btn-later {
    padding: 3px 30px;
    font-size: 16px;
    color: #fff;
    margin: 0 14px 0 0;
    font-family: 'Avenir-Heavy';
}

.wd-menu-photo p {
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    font-family: 'Avenir-Heavy';
}

.card-inner-body {
    padding: 0 10px;
}

.wd-dr-now input {
    border: none;
    font-family: 'Avenir-Medium';
    padding: 0;
    font-size: 18px;
    width: 400px;
}

.wd-dr-now input::placeholder {
    color: #333333;
    font-weight: 500;
}

.wd-innerborder {
    border-bottom: 2px solid #eeeeee;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    text-align: left;
    overflow: auto;
    z-index: 11;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.btn-innr {
    background-color: #bababa;
}

.dropdown-content a {
    color: #555555;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}

.dropbtn .fa-angle-down {
    margin: 0 0 0 10px;
}

.quantity {
    display: inline-flex;
    align-items: center;
    padding: 0px;
    border: 2px solid #aaaaaa;
    border-radius: 16px;
    width: auto;
    margin: 10px 0 0 0;
}

a:hover {
    text-decoration: none!important;
}

.quantity__minus,
.quantity__plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    margin: 0;
    color: #333333;
    text-decoration: none;
    text-align: center;
    line-height: 23px;
    cursor: pointer;
}

.wb-inner-system {
    width: 28%;
    margin-right: 20px;
}

.wp-border-size-blog {
    border: 1px solid #939393;
    padding: 10px;
}

.wb-inner-system-first {
    width: 100%;
}

.quantity__minus:hover,
.quantity__plus:hover {
    color: #333333;
}

.quantity__minus {
    border-radius: 3px 0 0 3px;
}

.quantity__plus {
    border-radius: 0 3px 3px 0;
}

.quantity__input {
    width: 28px;
    margin: 0;
    padding: 0;
    text-align: center;
    border: none;
    background: #fff;
    color: #8184a1;
    font-size: 14px;
    font-family: 'Avenir-Medium';
}

.modifire-wd {
    font-size: 14px!important;
    font-weight: 200!important;
    font-family: 'Avenir-Medium';
}

.quantity__minus:link,
.quantity__plus:link {
    color: #333333;
}

.quantity__minus:visited,
.quantity__plus:visited {
    color: #333333;
}

article {
    display: none;
}

article.on {
    display: block;
}

.wd-dr-background {
    background-image: url(../images/chat/bg-inner.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    padding: 36px 30px;
}

.fa-check {
    color: #fff;
    display: none;
}

.owl-item.active .fa-check {
    display: block;
}

.wd-dr-background p:nth-child(2) {
    color: #fff;
    font-family: 'Poppins-SemiBold';
}

.wd-dr-background p {
    color: #fff;
}

.dr-johan-blog span {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Poppins-Medium';
}

.wd-exp-blog p {
    font-size: 14px;
    color: #fff;
    font-family: 'Poppins-Medium';
}

.wd-exp-blog span {
    font-size: 14px;
    color: #fff;
    font-family: 'Poppins-Medium';
}

.wd-exp-blog p {
    text-transform: uppercase;
}

.wd-dr-background .visa-blog {
    width: 56px!important;
}

.wd-wrapper-total span {
    font-size: 18px;
    font-family: 'Avenir-Heavy';
    color: #333333;
    font-weight: 500;
}

.wd-wrapper-total-first span {
    font-family: 'Avenir-Medium';
}

.btn-submit-inner {
    border-radius: 27px;
    font-family: 'Avenir-Heavy';
    background-color: #535bfd;
    font-size: 20px;
    color: #ffffff;
    width: 100%;
}

.radio input[type="radio"] {
    position: relative;
    opacity: 0;
    width: 0;
}

.radio input[type="radio"]+.radio-label:before {
    content: '';
    border-radius: 100%;
    border: 1px solid #333333;
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}


/* .radio input[type="radio"]:checked+.radio-label:before {
background-color: #535bfd;
box-shadow: inset 0 0 0 4px #f4f4f4;
} */


/* .radio input[type="radio"]:checked+.payment-label:before {
background-color: #535bfd;
box-shadow: inset 0 0 0 4px #f4f4f4;
} */


/* .radio input[type="radio"]:focus+.radio-label:before {
outline: none;
border-color: #535bfd;
} */


/* .radio input[type="radio"]:focus+.radio-label:before {
outline: none;
border-color: #535bfd;
}

.radio input[type="radio"]:disabled+.radio-label:before {
box-shadow: inset 0 0 0 4px #f4f4f4;
border-color: #b4b4b4;
background: #b4b4b4;
}

.radio input[type="radio"]+.radio-label:empty:before {
margin-right: 0;
} */

.radio label {
    margin-bottom: 0;
    font-family: 'Avenir-Medium';
    color: #333333
}

.payment-label {
    margin-bottom: 0;
    font-family: 'Avenir-Medium';
    color: #333333
}

.btn-later.selected {
    background-color: #555555;
    font-family: 'Avenir-Heavy';
}

.md-payment-blog {
    font-size: 12px;
    font-weight: 500;
    color: #333333;
    text-align: right;
    font-family: 'Avenir-Medium';
    width: 100%;
    /* border-top: 2px solid #eeeeee; */
    margin: 0;
    padding: 20px 0 0 0;
}

.owl_1 .owl-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: -5%;
    right: -5%;
    top: 0;
    bottom: 0;
}

#exampleModalCenter1 .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    right: 3%;
    bottom: 8%;
}

.modal-backdrop.show {
    opacity: 0;
}

.modal-backdrop {
    position: unset;
}

#exampleModalCenter1 form input {
    width: 100%;
    border: 1px solid #555555;
    font-family: 'Avenir-Medium';
    border-radius: 30px;
    padding: 8px 14px;
    background: #fff!important;
}

#orderDate,
#orderTime {
    width: 100%;
    border: 1px solid #555555;
    font-family: 'Avenir-Medium';
    border-radius: 30px;
    padding: 8px 14px;
    background: #fff!important;
}

#exampleModalCenter1 .modal-header {
    border-bottom: none;
    padding: 10px 10px 0 10px;
}

#exampleModalCenter1 h5 {
    font-family: 'Avenir-Heavy';
}

#exampleModalCenter1 input:focus {
    outline: none;
}

.btn-okey {
    border-radius: 27px;
    background-color: #535bfd;
    font-size: 20px;
    color: #ffffff;
    width: 100%;
    font-family: 'Avenir-Medium';
}

#exampleModalCenter .modal-content {
    box-shadow: 0 4px 10px #343a4087;
}

.table-inner td,
.table-inner th {
    border-top: none;
}

.table-inner tbody+tbody {
    border-top: 5px solid #fff;
}

.table-inner tbody {
    background-color: #313131;
}

.table-inner td {
    font-size: 26px;
    color: #fff;
    vertical-align: middle;
    font-family: 'Avenir-Black';
}

.table-inner img {
    width: 50%;
    height: 44px;
    object-fit: contain;
}

.wd-dr-text-line {
    text-align: center;
}

i.fas.fa-cog {
    margin-right: 30px;
}

.table-inner i {
    color: #b9b9b9;
}

.add-payment-new {
    font-size: 20px;
    font-family: 'Avenir-Medium';
    border-radius: 5px;
    background-color: #535bfe;
    color: #fff;
    border: none;
    padding: 5px 20px;
}

.content .add-payment-new:hover {
    color: #ffffff !important;
}

.wd-hours-method .btn-group {
    width: 100%;
}

.wd-hours-method .btn-left-blog {
    width: 100%;
    font-family: 'Avenir-Heavy';
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #333333;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 0;
}

.wd-hours-method {
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 24px;
    height: 100%;
}

.card-inner-first {
    background-color: #eeefff;
}

.card-second {
    border-radius: 5px;
    border: 0.5px solid #333333;
    padding: 10px 0;
    margin: 5px 0;
}

.card-second h6 {
    font-size: 16px;
    font-family: 'Avenir-Heavy';
}

.card-second p {
    margin: 0;
    color: #333333;
    font-family: 'Avenir-Medium';
    font-size: 14px;
    font-weight: 500;
}

.be-inner {
    position: relative;
}

.be-inner::after {
    position: absolute;
    content: "-";
    left: 0;
    right: 0;
    top: 12px;
}

.card-inner-fourth p {
    color: #fff!important;
}

.card-inner-fourth h6 {
    color: #fff!important;
}

.card-inner-second {
    background-color: #cbcefe;
}

.card-inner-third {
    background-color: #a9adfe;
}

.card-inner-fourth {
    background-color: #878cfd;
}

#style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.pickup-inst p {
    font-size: 16px;
    line-height: normal;
    color: #000000;
    font-family: 'Avenir-Medium';
}

#style-4::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}

.btn-call-log {
    font-size: 25px;
    font-family: 'Avenir-Black';
    color: #fff;
    padding: 2px 50px;
    display: block;
    margin: 0 auto;
}

.contact-form span {
    font-size: 16px;
    color: #333333;
    font-weight: 500;
}

.contact-form form .form-group {
    display: flex;
    align-items: center;
}

.contact-form form {
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 5px;
}

.contact-form form label {
    margin-bottom: 0;
    margin-right: 10px;
    font-size: 16px;
    color: #333333;
    font-weight: 500;
}

.message-us {
    font-size: 24px;
    color: #333333;
    font-weight: 800;
}

.btn-submit-inner-w-blog {
    background-color: #535bfd;
    font-family: 'Avenir-Heavy';
    font-size: 20px;
    color: #ffffff;
    padding: 2px 22px;
}

.product-quantity>* {
    width: 24.9px;
}

.product-quantity>input[type="number"]::-webkit-inner-spin-button,
.product-quantity>input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-quantity>input {
    border: none;
    text-align: center;
    font-size: 12px;
}

.product-quantity {
    display: inline-flex;
    border: 1px solid #e6e6e6;
    align-items: center;
    border-radius: 4px;
}

.product-quantity-plus:before,
.product-quantity-minus:before {
    width: 11px;
    display: block;
    margin: 0 auto;
}

.product-quantity-plus:before {
    content: "+";
}

.product-quantity-minus:before {
    content: "-";
}

.product-quantity-plus,
.product-quantity-minus {
    cursor: pointer;
    text-align: center;
}

.product-quantity-plus:before,
.product-quantity-minus:before {
    width: 11px;
    display: block;
    margin: 0 auto;
}

#primarycardnow,
.primarycardnow {
    color: #535bfe;
    font-weight: bold;
}

.modal-second-inner .modal-footer {
    display: unset!important;
}

.modal-second-inner form p {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

.second-close {
    background-color: none;
    border: none;
}

.modal-inner-third-vlog .modal-dialog {
    max-width: 500px;
    margin: 14rem auto auto auto;
    height: 100%;
}

.wd-check-input {
    margin: 10px 0;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.wd-check-input label {
    margin-bottom: 0;
    width: 68%;
    font-size: 18px;
    font-weight: 400;
}

.wd-check-input input {
    margin: 0 10px 0 0;
}

.modal-content {
    box-shadow: 0 2px 20px 0 rgb(40 44 63 / 50%);
}

.modal-inner-third-vlog .modal-header {
    padding: 5px 8px 0 0;
}

.choose-blog {
    border: 1px solid rgb(83, 91, 253);
    color: rgb(83, 91, 253);
    background: none;
    padding: 10px 30px;
}

.repeate-last {
    background: rgb(83, 91, 253);
    border: 1px solid rgb(83, 91, 253);
    color: #fff;
    padding: 10px 30px;
}

.modal-inner-third-vlog .modal-body {
    padding: 0.2rem 1rem;
}

.modal-second-inner .modal-footer p {
    margin: 0;
    font-size: 14px;
}

.modal-second-inner h6 {
    font-weight: bold;
    font-size: 20px;
    margin: 16px 0;
}

.btn-login-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0 auto;
    background: #535bfe;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding: 3px 22px;
    border-radius: 30px;
    width: 100%;
}

.verify-enter {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.modal-sign-up p {
    color: #000;
    font-family: 'SF-Pro-Display-Medium';
    text-align: center;
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 0;
}

.modal-sign-up form {
    margin: 10px 0 14px 0;
}

.sign-up-inner {
    color: #535bfe;
    font-family: 'SF-Pro-Display-Medium';
}

.modal-sign-up input {
    font-family: 'SF-Pro-Display-Medium';
}

#wrapper {
    font-family: Lato;
    font-size: 1.5rem;
    text-align: center;
    box-sizing: border-box;
    color: #333;
}

#wrapper #dialog {
    position: relative;
}

#wrapper #dialog #form input {
    margin: 0 5px;
    text-align: center;
    font-size: 24px;
    border: solid 1px #ccc;
    box-shadow: 0 0 5px #ccc inset;
    outline: none;
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
    width: 50px;
    height: 50px;
}

#wrapper #dialog #form input::selection {
    background: transparent;
}

#wrapper #dialog button.close {
    border: solid 2px;
    border-radius: 30px;
    line-height: 19px;
    font-size: 120%;
    width: 22px;
    position: absolute;
    right: 5px;
    top: 5px;
}

#wrapper #dialog div {
    position: relative;
    z-index: 1;
}

#wrapper #dialog img {
    position: absolute;
    bottom: -70px;
    right: -63px;
}

.sucess-blog {
    font-weight: 600;
    font-size: 26px;
    color: #535bfe;
    text-align: center;
}

.verify-code {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}

.iconic-blog {
    display: flex;
    align-items: center;
    margin: 20px 0 0 0;
    justify-content: center;
    align-items: center;
}

.iconic-blog p {
    margin: 0;
    font-size: 20px;
    font-family: 'Avenir-Medium';
}

.iconic-blog i {
    margin-right: 20px;
    font-size: 24px;
}

p#output {
    margin: 20px 0;
    font-family: 'Avenir-Medium';
}

.wd-wrapper-total-first {
    font-size: 18px;
    font-weight: 300;
    margin: 5px 0;
}

.modal-second-inner .modal-dialog {
    max-width: 468px;
}

.wd-wrapper-total {
    margin: 5px 0 10px 0;
}

.modal-second-inner h6 {
    font-weight: bold;
    font-size: 20px;
    margin: 16px 0;
}

.blur-background {
    filter: blur(6px);
}

.morecontent span {
    display: none;
}

.morelink {
    display: inline;
    width: auto;
    color: #000;
    margin: 0 0 0 10px;
    font-family: 'Avenir-Heavy';
}

body.swal2-shown.swal2-height-auto {
    padding-right: 0 !important;
}

@media (min-width:1700px) {
    .day-schedule {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 14%;
        max-width: 14%;
    }
}

.btn-group,
.btn-group-vertical {
    display: unset;
}

.error {
    color: #EB5F5E !important;
}

.radiobuttonItem {
    color: #535bfe;
    font-weight: bold;
}

.wb-inner-system img {
    border-radius: 8px;
}

.cart-remove {
    color: #000;
}

.card-main-blog button {
    width: 100%;
    display: block;
    background: none;
    border: none;
    font-family: 'SF-Pro-Text-Medium';
    padding: 8px 10px;
    color: #fff;
    cursor: pointer;
}

.card-main-blog {
    border-radius: 10px;
    padding: 10px;
}

.card-main-blog .card-title {
    font-size: 23px;
    color: #fff;
    font-weight: 600;
    font-family: 'SF-Pro-Text-Bold';
}

.card-main-blog .card-text {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'SF-Pro-Text-Medium';
}

.card-v-inner-sys-first {
    background: #39B4FF;
    background: -webkit-linear-gradient(left, #39B4FF, #6D75FF);
    background: -moz-linear-gradient(left, #39B4FF, #6D75FF);
    background: linear-gradient(to right, #39B4FF, #6D75FF);
}

.card-v-inner-sys-second {
    background: #C4BF3C;
    background: -webkit-linear-gradient(bottom left, #C4BF3C, #3C3B1E);
    background: -moz-linear-gradient(bottom left, #C4BF3C, #3C3B1E);
    background: linear-gradient(to top right, #C4BF3C, #3C3B1E);
}

.card-v-inner-sys-third {
    background: #9FDBCC;
    background: -webkit-linear-gradient(bottom left, #9FDBCC, #3BDA50);
    background: -moz-linear-gradient(bottom left, #9FDBCC, #3BDA50);
    background: linear-gradient(to top right, #9FDBCC, #3BDA50);
}

.card-v-inner-sys-four {
    background: #FB7F79;
    background: -webkit-linear-gradient(bottom left, #FB7F79, #F94E4F);
    background: -moz-linear-gradient(bottom left, #FB7F79, #F94E4F);
    background: linear-gradient(to top right, #FB7F79, #F94E4F);
}

.card-v-inner-sys-five {
    background: #8084E6;
    background: -webkit-linear-gradient(bottom left, #8084E6, #544D81);
    background: -moz-linear-gradient(bottom left, #8084E6, #544D81);
    background: linear-gradient(to top right, #8084E6, #544D81);
}

.card-v-inner-sys-six {
    background: #CB9A8A;
    background: -webkit-linear-gradient(bottom left, #CB9A8A, #5C8F9A);
    background: -moz-linear-gradient(bottom left, #CB9A8A, #5C8F9A);
    background: linear-gradient(to top right, #CB9A8A, #5C8F9A);
}

.card-v-inner-sys-seven {
    background: #E074B6;
    background: -webkit-linear-gradient(bottom left, #E074B6, #BB495C);
    background: -moz-linear-gradient(bottom left, #E074B6, #BB495C);
    background: linear-gradient(to top right, #E074B6, #BB495C);
}

.card-second-v-blog {
    background: #C4BF3C;
    background: -webkit-linear-gradient(bottom left, #C4BF3C, #3C3B1E);
    background: -moz-linear-gradient(bottom left, #C4BF3C, #3C3B1E);
    background: linear-gradient(to top right, #C4BF3C, #3C3B1E);
}

.card-third {
    background: #9FDBCC;
    background: -webkit-linear-gradient(bottom left, #9FDBCC, #3BDA50);
    background: -moz-linear-gradient(bottom left, #9FDBCC, #3BDA50);
    background: linear-gradient(to top right, #9FDBCC, #3BDA50);
}

.card-four {
    background: #FB7F79;
    background: -webkit-linear-gradient(bottom left, #FB7F79, #F94E4F);
    background: -moz-linear-gradient(bottom left, #FB7F79, #F94E4F);
    background: linear-gradient(to top right, #FB7F79, #F94E4F);
}

.card-five {
    background: #8084E6;
    background: -webkit-linear-gradient(bottom left, #8084E6, #544D81);
    background: -moz-linear-gradient(bottom left, #8084E6, #544D81);
    background: linear-gradient(to top right, #8084E6, #544D81);
}

.card-six {
    background: #CB9A8A;
    background: -webkit-linear-gradient(bottom left, #CB9A8A, #5C8F9A);
    background: -moz-linear-gradient(bottom left, #CB9A8A, #5C8F9A);
    background: linear-gradient(to top right, #CB9A8A, #5C8F9A);
}

.card-seven {
    background: #E074B6;
    background: -webkit-linear-gradient(bottom left, #E074B6, #BB495C);
    background: -moz-linear-gradient(bottom left, #E074B6, #BB495C);
    background: linear-gradient(to top right, #E074B6, #BB495C);
}

.card-first-inner {
    background: #39B4FF;
    background: -webkit-linear-gradient(left, #39B4FF, #6D75FF);
    background: -moz-linear-gradient(left, #39B4FF, #6D75FF);
    background: linear-gradient(to right, #39B4FF, #6D75FF);
}

.rowinner {
    background: rgb(39 40 40 / 40%);
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
    padding: 3px 0;
}

.btn-inner-first.selected-blog {
    background-color: #fff!important;
    border-radius: 10px!important;
    color: #000!important;
}

.get-border {
    border-right: 2px solid #fff;
    height: 24px;
    margin: auto;
}

.card-first {
    border-radius: 10px;
    padding: 14px;
}

.card-first .card-title {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
}

.card-first .card-text {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.promote-blog {
    font-size: 16px;
    font-weight: 500;
    color: #fff!important;
    margin-bottom: 8px;
}

.card-first .btn-inner-first {
    width: 100%;
    display: block;
    background: none;
    border: none;
    padding: 8px 64px;
    color: #fff;
    cursor: pointer;
}

.wp-inner-st {
    height: 117px;
}

.google-signin-link {
    width: 100%;
    border-radius: 30px;
    margin-top: 14px;
    background: #fff;
    display: block;
    padding: 6px 22px;
    color: #000;
    font-family: 'SF-Pro-Display-Medium';
    border: 1px solid #000;
    text-align: center;
}

.google-signin-link .fa-google {
    margin-right: 8px;
}

.google-signin-link:hover {
    color: #000;
}

.modalBlur .modal-title {
    font-family: 'SF-Pro-Text-Bold';
}

.modalBlur input {
    font-family: 'SF-Pro-Text-Medium';
}

.get-border {
    border-right: 2px solid #fff;
    height: 24px;
    margin: auto 0;
}


/* Tab */

.tab {
    overflow: hidden;
    text-align: center;
}


/* Style the buttons that are used to open the tab content */

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 135px;
    /* padding: 15px 46px; */
    transition: 0.3s;
    color: #2d34f1;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 10, 255, 0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 10, 255, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 10, 255, 0.75);
}


/* Change background color of buttons on hover */


/* Create an active/current tablink class */

.tab button.active {
    z-index: 999;
    position: relative;
    background-color: #2d34f1;
    color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 10, 255, 0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 10, 255, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 10, 255, 0.75);
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
}

.tabcontent {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}

.tabcontent h3 {
    display: inline-block;
    font-size: 20px;
    color: #000;
}

.tabcontent img {
    height: 50px;
}

.tabcontent ul {
    padding-left: 20px;
    color: darkgreen;
}

.info {
    text-align: center;
}

.info img {
    height: 25px !important;
    margin-top: 0 !important;
}

.order-border {
    border: 1px solid lightgray;
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 75%);
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    margin-top: 20px;
}

.card-detail h3 {
    color: #2d34f1;
}

.card-detail .address {
    border-radius: 0;
    border: 1px solid #000000;
    box-shadow: none !important;
    font-family: 'Avenir-Medium';
    font-size: 18px;
    border: 1px solid #ced4da;
}

.card-image {
    height: 70px !important;
}

.add-payment {
    color: #FFF;
    padding: 20px;
    box-shadow: -5px 4px 11px 2px #5e5ed6;
    margin-top: 25px;
}

.card-font {
    font-family: 'Avenir-Medium';
    font-size: 22px;
}

.expdate {
    float: left;
    width: 50%;
    margin: 20px 0;
}

.cvv {
    float: right;
    margin: 20px 0;
}

.datetext {
    display: block;
}

.show-card-image {
    height: 60px !important;
}


/* modal remove css start */

.menu-cancle {
    background: #535bfe;
    color: #fff;
    font-family: 'SF-Pro-Text-Medium';
    padding: 4px 18px;
    border-radius: 8px;
}

.menu-yes {
    background: #535bfe;
    color: #fff;
    font-family: 'SF-Pro-Text-Medium';
    padding: 4px 28px;
    border-radius: 8px;
}

.menu-footer-inner {
    justify-content: center;
    align-items: center;
}

.menu-modal-blog {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.menu-modal-blog h4 {
    text-align: center;
    font-family: 'SF-Pro-Text-Bold';
    width: 100%;
}

.menu-plus-add-header .modal-body p {
    margin: 6px 0 14px 0;
    font-family: 'SF-Pro-Text-Medium';
}

.menu-modal-blog .close {
    padding: 0 1rem;
}


/* modal remove css end */


/* chat scren start */

.sideways {
    border-bottom: unset;
}

.sideways li {
    width: 100%;
}

.sideways li a.active {
    background: #535bfe;
    color: #fff;
    box-shadow: 0px 0px 10px 0px #2d34f1;
}

.sideways li a {
    color: #535bfe;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 14px 16px;
    box-shadow: -2px 3px 5px 0px #7d7fb1;
    margin: 10px 0;
}

.sideways li a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-inner-left-blog {
    overflow-y: scroll;
}

.scrollbar-first {
    height: 700px;
}

.order-border-t {
    height: 546px;
    overflow-y: scroll;
}

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #535bfe;
    background-color: #f5f5f5;
    border: unset;
}

#style-1::-webkit-scrollbar {
    width: 5px;
    background-color: #535bfe;
    border: unset;
}

#style-1::-webkit-scrollbar-thumb {
    background-color: #535bfe;
    border: unset;
}

#style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #535bfe;
    background-color: #f5f5f5;
    border: unset;
}

#style-4::-webkit-scrollbar {
    width: 5px;
    background-color: #535bfe;
    border: unset;
}

#style-4::-webkit-scrollbar-thumb {
    background-color: #535bfe;
    border: unset;
}

.messages {
    height: 641px;
    overflow-y: scroll;
}

.messages ul li {
    display: flex;
    clear: both;
    margin: 16px 15px 24px 0px;
    width: calc(100% - 25px);
    align-items: center;
}

.messages ul li.sent img {
    margin: 0 8px 0 4px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 1px 8px 0px #7d7fb1;
}

.messages ul li.sent p {
    background: #FFF;
    color: #797777;
    font-family: 'Avenir-Medium';
    box-shadow: -2px 3px 5px 0px #7d7fb1;
    margin: 0;
    min-width: 380px;
    padding: 12px 16px;
    border-radius: 20px;
}

.messages ul li.sent p span {
    display: block;
    text-align: right;
}

.messages ul li {
    display: flex;
    align-items: center;
    clear: both;
    margin: 15px 15px 5px 0px;
    /* width: calc(100% - 25px); */
}

.messages ul li.replies img {
    margin: 0 0 0 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 1px 8px 0px #7d7fb1;
}

.messages ul li.replies {
    justify-content: flex-end;
    width: 100%;
}

.messages ul {
    padding-left: 0;
    margin-right: 10px;
}

.messages ul li.replies p {
    background: #535bfe;
    color: #FFF;
    box-shadow: 0px 0px 4px 0px #000;
    min-width: 300px;
    font-family: 'Avenir-Medium';
    margin: 0;
    padding: 12px 16px;
    border-radius: 20px;
    min-width: 380px;
}

.messages ul li.replies p span {
    display: block;
    text-align: right;
}

.message-input {
    z-index: 99;
    padding: 10px 20px;
    position: absolute;
    width: 97%;
    background: #fff;
    margin-bottom: 0;
    box-shadow: 0px 1px 8px 0px #535bfe;
}

.message-input input {
    border: none;
    padding: 2px 32px 2px 8px;
    color: #32465a;
    font-family: 'Avenir-Heavy';
    background-color: unset;
    font-size: 20px;
}

.message-input .wrap {
    display: flex;
    align-items: center;
}

.message-input .wrap button {
    border: none;
    width: 40px;
    height: 34px;
    text-align: center;
    background: #535bfe;
    color: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.message-input .wrap .micro {
    background-color: #f12de7 !important;
}

.chatting-u-blog {
    padding-right: 0;
}

.messages {
    position: relative;
    padding-left: 14px;
}

.tab-content>.active {
    display: block;
    position: relative;
}

.tab-content {
    position: relative;
}

@media (max-width: 1280px) {
    .wd-dr-inenr-page-dropdown #show-hidden-menu {
        width: 192px;
    }
}

@media (max-width: 1600px) {
    .order-detail-heading ul li h3 {
        font-size: 18px;
    }
    .order-min {
        font-size: 18px;
    }
    .media-heading {
        font-size: 18px;
    }
    .price_count h3 {
        font-size: 18px;
    }
    .order-border-left .cart-charges {
        font-size: 12px!important;
    }
    .btn-total-amount {
        font-size: 10px!important;
    }
}

@media (max-width: 1280px) {
    .order-accepted {
        padding-left: 15px!important;
    }
    .order-detail-heading ul {
        padding-left: 10px!important;
    }
    .order-detail-item .media-object {
        height: 80px;
        width: 100px;
    }
}

@media (max-width: 1600px) {
    .feedback-p br {
        display: none;
    }
}

@media (max-width: 575px) {
    .order-feedback-blog {
        width: 90%!important;
        margin: 0 auto!important;
    }
    .order-prof-img-par {
        padding: 0 5px!important;
    }
}

@media (max-width: 768px) {
    .chat-desktop {
        display: none;
    }
    .chat-mobile {
        display: block!important;
    }
    .order-bxx-gn {
        display: none;
    }
    .bkorderdetail {
        font-size: 20px;
    }
    .back-icon {
        display: flex;
        align-items: center;
        margin-top: 20px;
        background: white;
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: 3px 6px 20px #0000002e;
    }
    .back-icon p {
        margin: 0;
        margin-left: 16px;
    }
}

.chat-mobile {
    display: none;
}

@media (max-width: 767px) {
    .order-detail-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .s-address {
        background-size: 12% auto!important;
        padding: 20px 0 20px 69px!important;
    }
    .media-body ul {
        margin-bottom: 10px!important;
    }
    .order-detail-pickup {
        margin: 14px 0;
    }
    .col-md-inner {
        padding-left: 15px!important;
    }
    .order-detail-date {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .media-t-blog-inner {
        flex-flow: column;
    }
    .media-footer {
        padding-left: 1.5rem;
    }
    .order-party-wear {
        margin: 0 auto!important;
        width: 100%!important;
    }
    .btn-add-to-cart {
        display: block;
        margin: 0 auto;
    }
    .card-image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

@media (max-width: 991px) {
    .messages ul li.sent p {
        width: 300px!important;
        min-width: unset!important;
    }
    .messages ul li.replies p {
        width: 300px!important;
        min-width: unset!important;
    }
}

@media (max-width: 1600px) {
    .messages ul li.sent p {
        width: 300px;
    }
    .messages ul li.replies p {
        width: 300px;
    }
}


/* chat scren end */


/* Order css Start*/

.tabcontent .orderi-no {
    font-size: 18px;
}

@media (max-width: 1600px) {
    .tabcontent .orderi-no {
        font-size: 18px;
        margin: 0!important;
    }
    .for-right-border {
        padding: 0 5px;
    }
    .tab .btn-current-event {
        padding: 15px 46px;
        width: auto;
    }
}

@media (max-width: 1400px) {
    .tabcontent .orderi-no {
        font-size: 14px !important;
    }
    @media (max-width: 767px) {
        .for-right-border {
            text-align: center;
        }
        .tab .btn-current-event {
            padding: 15px 46px;
            width: 100%;
            margin-left: 0 !important;
        }
        .for-right-border {
            text-align: center;
        }
    }
}


/* Order css end*/


/* ordeer details start */

.order-detail-heading ul li h3 {
    color: #535bfe;
    margin: 0;
    font-family: 'Avenir-Black';
}

.order-detail-heading ul li {
    color: #535bfe;
    font-size: 28px;
}

.order-accepted {
    padding-left: 2.5rem;
    color: green;
    margin: 0;
    font-family: 'Avenir-Black';
}

.order-lable {
    color: #535bfe;
    margin: 0;
    font-family: 'Avenir-Medium';
}

.order-detail {
    border-top: 5px solid#535bfe;
}

.order-detail-pickup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.order-min {
    color: #535bfe;
    font-family: 'Avenir-Black';
    margin: 0;
}

.order-detail-item {
    margin-top: 20px !important;
    background-color: #cbcdff;
    padding: 20px;
    display: flex;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
}

.order-detail-item .media-object {
    height: 91px;
    width: 114px;
    object-fit: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: 5px solid #FFF;
    box-shadow: 0px 0px 10px 0px rgb(0 10 255 / 75%);
    /* -webkit-box-shadow: 0px 0px 10px 0px rgb(0 10 255 / 75%); */
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 10, 255, 0.75);
}

.order-heading {
    background-color: #efefef;
    padding: 30px 10px;
    border-radius: 15px;
    align-items: center;
}

.order-jumbotron {
    padding: 5px 20px 20px 20px !important;
}

.order-content {
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, .125);
}

.media-t-blog-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.price_count h3 {
    color: #535bfe;
    margin: 0;
    font-family: 'Avenir-Black';
}

.price_count .item-count {
    color: #000!important;
}

.media-heading {
    color: #535bfe;
    padding-left: 1rem;
    font-family: 'Avenir-Black';
}

.media-t-blog-inner .media-body {
    padding-left: 8px;
}

.media-body ul {
    margin: 0;
}

.media-body ul li {
    color: #000;
    font-family: 'Avenir-Medium';
}

.order-border-left {
    margin-top: 20px;
}

.order-border-left .charges-price {
    color: #535bfe;
    font-family: 'Avenir-Medium';
    font-size: 15px;
}

.order-border-left .cart-charges {
    color: #535bfe;
    font-size: 15px;
    font-family: 'Avenir-Medium';
}

.btn-total-amount {
    background: #535bfe;
    display: block;
    width: 100%;
    color: #fff;
    font-family: 'Avenir-Medium';
    margin-top: 10px;
    padding: 5px 2px;
    font-size: 14px;
}

.btn-total-amount h4 {
    margin-bottom: 1px;
}

.tabcontent .order-border ul {
    margin: 0;
}


/* order details end */


/* profile css start */

.profile-img {
    width: 100px;
    box-shadow: 0px 0px 7px 0px rgb(0 10 255 / 75%);
    border-radius: 50%;
}

.prof-img-par {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.order-content-second {
    padding: 40px 0;
}

.order-user-name {
    width: 80%;
    margin: 0 auto;
}

.prof-img-par h3 {
    color: #535bfe;
    text-decoration: underline;
    margin-bottom: 20px;
    font-family: 'Avenir-Heavy';
}

.order-user-name .form-group .form-control {
    padding: 12px 16px;
    font-size: 18px;
    height: auto!important;
    text-transform: capitalize;
    font-family: 'Avenir-Medium';
}

.order-user-name .form-group .form-control::placeholder {
    color: #000;
}


/* .order-user-name textarea#inputaddress {
font-size: 18px;
font-family: 'Avenir-Medium';
} */


/* .order-user-name textarea#inputaddress::placeholder {
color: #000;
} */

.btn-user-profile {
    background: #535bfe;
    display: block;
    margin: 0 auto;
    color: #fff;
    font-family: 'Avenir-Medium';
    padding: 10px 10px;
}


/* profile css end */


/* feedback  css start */

.order-prof-img-par {
    padding: 0 30px;
}

.feedback-h3 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    text-align: center;
    font-family: 'Avenir-Heavy';
    color: #535bfe;
    font-size: 34px;
}

.feedback-p {
    text-align: center;
    font-family: 'Avenir-Medium';
    font-size: 20px;
}

.order-feedback-blog {
    padding: 40px;
    margin: 0 auto;
    width: 65%;
}


/* .order-feedback-blog select {
background-color: #e5e5e5;
padding: 10px 16px 10px 0!important;
border-top: 0;
border-left: 0;
border-right: 0;
} */

.order-feedback-blog .form-group .form-control {
    padding: 10px 16px 10px 0!important;
}

.order-feedback-blog .form-control {
    background-color: #e5e5e5;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: #000;
    padding: 12px 16px;
    font-size: 18px;
    height: auto!important;
    font-family: 'Avenir-Medium';
}

.order-feedback-blog .form-group .form-control::placeholder {
    color: #000;
}

.order-feedback-blog .form-control:focus {
    background-color: #e5e5e5;
}


/* feedback  css end */

.profile-pic {
    width: 150px;
    height: 150px;
    display: inline-block;
    border-radius: 50%;
}

.file-upload {
    display: none;
}

.circle {
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}

.p-image {
    position: absolute;
    right: 23px;
    bottom: 9px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.upload-button {
    font-size: 1.2em;
}

.upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
}

@media (max-width: 375px) {
    .owl-first-blog button.owl-prev {
        left: -5%!important;
    }
    .owl-first-blog button.owl-next {
        right: -5%!important;
    }
    .owl-first button.owl-prev {
        left: -5%!important;
    }
    .owl-first button.owl-next {
        right: -5%!important;
    }
}

.wp-chat-inner-blog {
    display: none;
}

.btn-add-to-cart {
    background: #535bfe;
    color: #fff;
    font-family: 'Avenir-Medium';
}

.btn-add-to-cart h4 {
    margin: 0;
}

.add-pay-inner-d {
    margin-top: 0!important;
}

.add-card-detail {
    border-radius: 15px;
}


/* contact css start */

.map-contact .media-left img {
    width: 22px;
    height: 22px;
    object-fit: contain;
    margin-right: 20px;
}

.map-contact .media-body p {
    font-family: 'Avenir-Medium';
    font-size: 16px;
    margin-left: 4px!important;
    margin: 0;
    color: #000;
    overflow-wrap: anywhere;
}

.map-contact .media {
    margin-bottom: 10px;
}

.map-row {
    padding: 20px 10px;
    margin-top: 20px;
    border-radius: 20px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.wp-chat-inner-blog {
    display: none;
}


/* contact css end */


/* menu founded start */

.menu-item-found-blog {
    display: flex;
    justify-content: center;
    margin-top: 12rem;
    height: 100%;
}

.menu-item-found-blog h4 {
    font-family: 'Avenir-Medium';
}


/* menu founded end */
