.error-help-block {
    color: red;
    display: block;
    margin-top: 7px;
}

.action-edit {
    background-color: #514DC8;
}

.action-delete {
    background-color: #E44609;
}

.select2-selection__choice {
    background-color: rgb(81 76 200) !important;
    border: 1px solid #514cc8 !important;
    color: #fff;
    border-radius: 12px !important;
}


/* 
 .select2-selection__choice {
    background-color: rgb(0 71 213 / 50%)!important;
    border: 1px solid #7FA2EA!important;
    color: #fff;
} */

.select2-selection--multiple .select2-selection__choice__remove {
    background-color: transparent;
    border: none;
    color: #fff !important;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    background-color: #7FA2EA !important;
    color: #fff !important;
    outline: none;
}

.select2-selection--multiple {
    padding-left: 50px !important;
    border-radius: 15px !important;
    min-height: 60px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    box-shadow: 0px 0px 10px 0px #d1daf6 !important;
    background: #F4F4FC !important;
    border: 0.5px solid #d8e0f7 !important;
    font-family: 'SFProDisplay-Bold' !important;
    font-size: 18px !important;
    -webkit-appearance: none !important;
}

.select2-selection__choice__remove {
    border-right: none !important;
}

.select2-search__field {
    margin-left: 10px !important;
    padding-bottom: 30px !important;
    font-family: 'SFProDisplay-Bold' !important;
    font-size: 18px !important;
    -webkit-appearance: none;
}

/* Login page */
.verify-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* custom font small class */
.font-small{
    font-size: small;
}
/*-------------*/
/*modifier page*/
.back_icon{
    color: #514dc8;
    font-size: 25px;
    margin-right: 20px;
    margin-left: -25px;
}
div#modifierGroupPopUp .content h5{
    color: #333;
    font-weight: 700;
    margin-bottom: 20px;
}
#modifierGroupPopUp .popup .content p{
    color: #333;
    font-weight: 700;
    line-height: 18px;
}
.styled-radio-button+label:before, .styled-checkbox+label:before{
    box-shadow: 0 0 0 2px rgb(0 0 0);
}
#modifierGroupPopUp span.font-small {
    font-weight: 500;
    color: #a0a0a0;
    font-style: italic;
}
.modifier_sub_title{
    text-align: left;
    padding: 10px;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0px !important;
}
#modifierGroupPopUp .popup{
    padding-top: 20px;
}
.swal2-icon.swal2-warning{
    border-color: #514dc8 !important;
    color: #514dc8 !important;
}
.order-icons.icon_add_item a{
    color: #333 !important;
    width: auto !important;
}
.bage_main a{
    border-radius: 0;
    color: #fff;
    padding: 9px;
    border: 1px solid #514dc8;
    background-color: #514dc8;
    margin-right: 15px;
}
.bage_main .badge-info[href]:focus, .bage_main .badge-info[href]:hover{
    background-color: #fff;
    color: #514dc8;
    border: 1px solid #514dc8;
}
/*******Category********/
.label_cat{
    color: #333;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    left: 20px;
}
.category_main .form-group img{
    top: 58px;
}
.add-category .form-group .label_cat span{
    font-weight: 500;
    color: #a0a0a0;
    font-style: italic;
    font-size: 16px;
}
#accordion-first .card-body .sub-menu {
    margin-left: 60px;
}
.category_display .order{
    margin: 15px 0;
}
.menu-content-left{
    padding-left: 0px;
}
.category_main .remove-photo-link{
    font-size: 20px;
}
.category_main .select-input:before{
    top: 65%;
}